*{
	margin: 0 auto;
	padding:0;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
a{
	text-decoration: none;
	cursor: pointer;
}
body{
	width: 1368px;
	position: relative;
}
ul{
	list-style: none;
	padding:0;
	margin:0;
}
img {vertical-align: top; }
#topbar{
	width: 1368px;
	height: 30px;
	box-sizing: content-box;
	border:1px #c7c7c7 solid;
	background: #f6f6f6; 
}
.topbarleft{
	float: left;
	margin-left: 84px;
}
/*城市块*/
.citycnt{
	position: absolute;
	width: 458px;
	height:168px;
	padding-top: 7px;
	z-index: 999;
	background: #FBFBFB;
	left: 135px;
	display: none;
}
.cityhead{
	width: 435px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px
}
.cityhead b{
	width: 120px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	float: left;
	font-weight: thin;
}
.cityhead span{
	display: inline-block;
	float: right;
	width: 40px;
	height: 18px;
	font-size: 13px;
	line-height: 20px;
	border:1px solid gray;
	cursor: pointer;
	background: #F4F4F5;
	color: #6D6D6D;
}
.hotcities,.citylist{
	width: 410px;
	height: 40px;
	background: white;
	border:1px #d5d5d5 solid;
}
.hotcities{
	border-bottom: none;
}
.citylist{
	height: 60px;

	border-top: none;
}
.hotcities>b,.citylist>b{
	display: inline-block;
	padding:0;
	width: 40px;
	height: 40px;
	line-height: 20px;
	float: left;
	color: gray
}
.hotcities a,.citylist a{
	display: inline-block;
	width: 40px;
	height: 20px;
	line-height: 20px;
	color:black;
	text-align: center;
}
.hotcities a:hover,.citylist a:hover{
	color:#FE6600;
	text-decoration: underline;
}
.filterlet{
	float: left;
	width: 370px;
}

.filterlet a{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.data-letter{
	margin-left: 40px;
}


.topbarright{
	float: right;
	margin-right: 84px;
}
.topbarright,.topbarleft{
	font-size: 13px;
	padding-top: 9px;
}
.heada{
	color: gray;
	display: inline-block;
	padding:0 10px;
	border-right: 1px #d2d2d2 solid;
}
.heada:hover{
	text-decoration: underline;
}
#main{
	width: 1200px;
	background: #F7F7F7;
	padding:0 84px;
}
.head{
	width: 1200px;
	height: 80px;
	background: white;
}
.headleft{
	float: left;
}
.headright{
	float: right;
	padding:20px 0;
	position: relative;
}
.headright a{
	display: inline-block;
	height: 40px;
	width: 100px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #666674;
}
.headright a:hover{
	background: #F4F4F4;
}
.hotqipao{
	display: block;
	position: absolute;
	width: 24px;
	height: 15px;
	background: url(../images/hot.png) no-repeat;
	top: 15px;
	left: 80px;
}

.top-cate{
	height: 340px;
	position: relative;
}
.top-cate-img{
	position: absolute;
	width: 1200px;
	height: 340px;
	overflow: hidden;
}

.turnimgdiv{
	width: 7200px;
	height: 340px;
	float: left;
	position: absolute;
}
/*轮播图下方的气泡*/
.turnlight{
	position: absolute;
	left: 1048px;
	top:310px;
}
.lightitem{
	display: inline-block;
	width:12px;
	height: 12px;
	margin:0 4px;
	border-radius: 50%;
	background: black;
	cursor: pointer;
}
.top-cate-menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 235px;
	height: 340px;
}
.displaybar{
	width: 700px;
	height: 433px;
	border:#118855 1px solid;
	position: absolute;
	left: 235px;
	top: 0px;
	background: white;
	display: none;
}
.top-cate-menu ul{
	padding:0;
	margin: 0;
	list-style: none;
	width: 235px;
	height: 340px;
}
.top-cate-menu ul li{
	display: block;
	width: 235px;
	height: 85px;
	// text-indent: 45px;
	// line-height: 85px;
	background: url(../images/menuli.png) no-repeat 0 0;
	position: relative;
}
.top-cate-menu ul li a{
	display: inline-block;
	width: 140px;
	height: 84px;
	line-height: 84px;
	padding-left: 95px;
	color: #F7F7F7;
	font-weight: bold;
}
.qipao2{
	width:0;
	height: 0;
	border-top: 7px #F7F7F7 solid;
	border-left: 7px #F7F7F7 solid;
	border-right: 7px transparent solid;
	border-bottom:7px transparent solid;
	position: absolute;
	transform:rotate(-45deg);
	top: 45%;
	z-index: 99;
	left: 97.5%;
	display: none;
}
.top-cate-menu ul li:hover{
	background: #118855;
}
.top-cate-bottom{
	width: 1200px;
	height: 167px;
}
.item{
	width: 25%;
	height:167px;
	float: left;
	box-shadow: 0 0 0 1px #F7F7F7;
}
.center-title{
	padding-top: 20px;
	padding-left: 0px;
	height: 48px;
	width: 1200px;
	background: #F7F7F7;
}
.center-title h2{
	width: 400px;
	float: left;
	color: #5A5A5A;
}
.seemore{
	float: right;
}
.seemore a{
	color: #666666;
	font-size: 14px;
}
.qipao1{
	display: inline-block;
	width: 17px;
	height: 17px;
	color: white;
	text-align: center;
	font-size: 14px bolder;
	line-height: 17px;
	background: #B6B6B6;
	border-radius: 50%;
}
.centerhotphoneback{
	width: 1200px;
	height: 300px;
	background: white;
}
.centerhotimgdiv{
	margin:0;
	width:100%;
	height :100%;
	padding-top:50px;
	text-align: center;
	
}
.centerbao{
	width: 16.666%;
	height: 100%;
	float: left;
	border-right:1px #F7F7F7 solid;
	box-sizing: border-box;
}
.centerhotimgdiv:last-child{
	border:none;
}
.centerhotimgdiv img{
	width: 78px;
	height: 160px;
}
.centerhotimgdiv p{
	width: 120px;
	height: 25px;
	margin-top: 20px;
	color: #666666;
	font-size: 17px;
}
.centerhotimgdiv span{
	color: #FC6621;
	font-size:15px;
}
/*底部表头 地址栏 搜索栏*/
.bottomcontent{
	width: 1200px;
	height: 900px;
	background: white;
	margin-left: 74.5px;
	margin-right: 74.5px;
}
.btmcntleft{
	width: 890px;
	height: 844px;
	float: left;

}
.btmheadleft,.btmheadcenter{
	float: left;
	width: 120px;
	height: 32px;
	padding: 4px 7px 4px 13px;
	margin-right: 8px;
	border: 1px #67BB03 solid;
	font-size: 15px;
	line-height: 32px;
}
/*底部搜索栏*/
.btmheadright{
	float: left;
	width: 590px;
	height: 42px;
	position: relative;
}

.btmhead{
	width: 1200px;
	height: 42px;
	float: left;
}
.btmheadright input{
	width: 465px;
	height: 40px;
	border: 1px #67BB03 solid;
	float: left;


}
.morensrh{
 	height: 30px;
 	color: #A59999;
 	font-size: 13px;
 	line-height: 30px;
 	border:1px #A59999 solid;
}
.morensrh,.search{
 	width: 465px;
	background: white;
 	position: absolute;
 	top: 42px;
	display: none;
 	z-index: 99
 }
 .searchcnt{
	width: 100%;
	height: 30px;
	font-size: 13px;
 	line-height: 30px;
}
 .search{
 	border:1px solid #67BB03;
 	border-top:0;
 }
.btmheadright button{
	float: left;
	width: 120px;
	height: 42px;
	border: 1px #67BB03 solid;
	background: #118855;
	color: white;
	font-size: 21px;
	cursor: pointer;
}

.search{
 	width: 465px;
 	border:1px solid #67BB03;
 	position: absolute;
 }

/*商店菜单*/
.btmmenu{
	float: left;
	width: 890px;
	height: 40px;
	margin-top: 20px;
	border: 1px gray solid;
	background: #F7F7F7;
}
.btmmenu ul{
	width: 625px;
	float: left;
}
.btmmenu li{
	display: inline-block;
	width: 120px;
	height: 40px;
	border-right: 1px gray solid;
	text-align: center;
	color: #666666;
	font-size: 14px;
	line-height: 40px;
}
/*地图按钮*/
.map{
	width: 103px;
	height: 28px;
	float: right;
	margin:6px 10px 0 0;
	border: 1px gray solid;
	color: #66667D;
	line-height: 28px;
	font-size: 13px;
	background: white;
}
.map span{
	display: inline-block;
	width: 100px;
	height: 28px;
	text-indent: 30px;
	background: url(../images/mapmark.png) no-repeat 10px 0;
}
/*商店列表*/
.shoplist{
	width: 890px;
	height:790px;
	background: white;
}
.listitem{
	width: 890px;
	height: 92px;
	padding: 20px 0;
	border-top: 1px #DFDFE1 solid;
	float: left;
}
.shopsell,.shopad,.shoplve{
	font-size: 13px;
	color: gray;
}
.shopsell,.shopad{
	display: inline-block;
	width: 380px;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.itempic{
	width:90px;
	height: 90px;
	margin-right: 10px;
		float: left;
}
.itempic img{
	width:90px;
	height: 90px;
}
.itemcnt{
	width: 786px;
	height: 99px;
	float: left;
}
.listitem:hover{
	background: #FAFAFA;
}
.itemcntleft{
	width: 390px;
	height: 90px;
	float: left;
	font-size: 14px;
	line-height: 30px;
}
.itemcntleft a{
	font-size: 15px;
	color: #118855;
	margin-right: 10px;
}
.itemcntcenter span{
	font-size: 14px;
	color: gray;
}
.redheart{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/span.png) no-repeat 0 -18px;
}
.itemcntcenter{
	width: 160px;
	height: 90px;
	float: left;
	margin-left: 50px;
}
.itemcntcenter p{
	height: 30px;
}
.itemcntcenter a{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 30px;
	position: relative;
	top: 7px;
}
.itemcntright{
	width: 150px;
	height: 65px;
	padding-top:25px;
	float: left;
	margin-left: 35px;
	display: none;
}
.itemcntright button{
	width: 140px;
	height: 40px;
	border: none;
	border: 1px #118855 solid;
	color: #118855;
	background: white;
}
/* 分页按钮*/ 
.mappages,.pages{
	width: 800px;
	height: 44px;
	position: relative;
	padding-left: 90px;
	padding-top: 10px;
}
.datapre,.mapdatapre{
	width:100px; 
	display: none;
	height: 42px;
	border:1px #d6d6d6 solid;
	color: #9F99A2;
	font-size: 14px;
	text-align: center;
	line-height: 42px;
}
.datapg,.datanext,.mapdatapg,.mapdatanext{
	display: inline-block;
	height: 42px;
	border:1px #d6d6d6 solid;
	color: #9F99A2;
	font-size: 18px;
	text-align: center;
	line-height: 42px;
}
.datapg,.mapdatapg{
	width: 42px;
}

.btmcntright{
	width: 270px;
	float: left;
	margin-top: 62px;
	margin-left: 40px;
}
.btmcntright h3{
	width: 268px;
	height: 40px;
	border: 1px blue;
	background: #F7F7F7;
	text-align: center;
	line-height: 40px;
	border: 1px #E6E6E6 solid;
}
.sellerlist{
	width: 268px;
}
.selleritem{
	width: 268px;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: content-box;
	border: 1px #E6E6E6 solid;
	border-top: none;
}
.listnum{
	width: 56px;
	color: #FC6621;
	font-size: 26px;
	text-align: center;
	line-height: 50px;
	font-weight: bolder;
}
.selleritemimg{
	width: 50px;
	border: 1px #E6E6E6 solid;
}
.selleritemimg img{
	width: 50px;
	height: 50px;
}
.selleritemcnt{
	width: 150px;
	line-height: 25px;
	color: gray;
	font-size: 13px;
}
.selleritemimg,.listnum,.selleritemcnt{
	float: left;
	height: 50px;
	margin-left: 3px;
}
.selleritemcnt h4{
	height: 25px;
	color: #5BB8E9;
}
.foot{
	width: 1368px;
	height: 290px;
	background: #FAFAFA;
}
.footnav{
	width: 980px;
	height: 114px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footitem{
	width: 196px;
	height: 114px;
	float: left;
}
.footitem span{
	display: block;
	width: 43px;
	height: 43px;
	margin:0 6px 0 28px;
	float: left;
}
.f-item-cnt{
	width: 112px;
	height: 114px;
	float: left;
} 
.f-item-cnt h3{
	padding-top: 10px;
	color: #888888;
}
.f-item-cnt a{
	display: block;
	height: 26px;
	line-height: 26px;
	text-align: left;
	font-size: 13px;
	color: #888888;
}
.footbottom{
	width: 1348px;
	height: 94px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 13px;
	color: #888888;
}
.footbottom p{
	height: 24px;
	line-height: 24px;
}
.footbottom a,.footbottom span{
	color: #888888;
	margin: 0 10px;
}
.footbottom a:hover,.f-item-cnt a:hover{
	text-decoration: underline;
}
/*模态窗口*/
#motai{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	display:none;
}
/*地图*/
#mapcnt{
	width: 70%;
	height:90%;
	border:1px black solid;
	position: fixed;
	top: 5%;
	left: 15%;
	z-index: 9999;
	display: none;
	background: white;
 }
 .maptitle{
 	display: inline-block;
 	width: 200px;
 	height: 30px;
 	line-height: 30px;
 	font-size: 13px;
 	color: #A0A0A0;
	text-indent: 20px;
 }
 #mapcnt p{
 	background: url(../images/maptitlebg.png);
 }
 .mapclose{
 	display: block;
 	float: right;
 	width: 11px;
 	height: 10px;
 	padding-top: 20px;
 	background: url(../images/close.png) no-repeat 0 10px;
 	margin-right: 15px;
 	cursor: pointer;
 }
 #map{
	width: 100%;
	height:83%;
 }

 //地图info点击弹出框
 .infocnt{
 	width: 300px;
 	height: 200px;
 	border:1px solid gray;
 	position: relative;
 	//z-index: 9999;
 	font-size: 13px;
	display: none;
 }
#infocnt p{
	width: 99%;
	height: 50%;
	line-height: 100%;
	font-size: 13px;
}
#infocnt p:first-child{
	background: gray;
 }

